/* Reset */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Root */



/* Utils */



/* Generals */


ul {
    list-style-type: none;
}

li {
    margin-right: 50px;
}
/* Main */

.container {
    height: 100vh;
}

.row {
    height: calc(100% / 3);
    width: 100vw;
}

#timer {
    font-size: 65px;
    font-weight: 700;
}

#numbers {
    font-size: 40px;
}



#answer {
    font-size: 50px;
    color: green;
}

